body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  border: 2px solid hotpink;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.display {
  text-align: right;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 3px;
  border-radius: 10px;
  border: 2px solid black;
  outline: none;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: light red;
  cursor: pointer;
}

button:hover {
  background-color:skyblue;
}
